<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Daily Companion</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto" *ngIf="!authService.isLoggedIn()">
        <button class="btn btn-outline-light me-2" routerLink="/register">Regisztráció</button>
        <button class="btn btn-outline-light" routerLink="/login">Bejelentkezés</button>
      </div>
      <div class="navbar-nav ms-auto" *ngIf="authService.isLoggedIn()">
        <button class="btn btn-outline-light me-2" (click)="authService.signOut()">Kijelentkezés</button>
      </div>
    </div>
  </div>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>

